[submodule "src/backend"]
	path = src/backend
	url = https://github.com/23-24Sem1-Courses/ct313hm01-project-backend-ngtphat-towa.git
[submodule "src/frontend"]
	path = src/frontend
	url = https://github.com/23-24Sem1-Courses/ct313hm01-project-frontend-ThienNg65
